<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <style type="text/css">
        .m15{
            margin: 15px;
        }
        .tc{
            text-align: center;
            font-size: 18px;
            font-weight: 600;
        }
    </style>
</head>
<body>
<div class="container">
    <%- message %>
    <form class="col-sm-offset-4 col-sm-4 form-horizontal" method="post" onsubmit="return false;">
        <fieldset>
            <legend></legend>
            <div class="panel panel-default">
                <div class="panel-heading tc">请先登录</div>

                <div class="panel-body m15">
                    <div class="form-group">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                            <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                            <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" id="login">登录</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-info col-sm-offset-10 col-sm-2" id="register">注册</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('form').on('click', '#register', function () {
            location.href = '/register';
        });

        $('form').on('click', '#login', function () {
            var username = $('#username');
            var usernameVal = $.trim(username.val());
            var password = $('#password');
            var passwordVal = $.trim(password.val());
            var errorTip = '<div class="alert alert-warning">{0}</div>';

            if (!usernameVal){
                $('.container').prepend('<div class="alert alert-warning">请输入用户名</div>');
                username.focus();
//                $('#username').css('border', '1px solid red');
            }else if (!passwordVal){
                $('.container').prepend('<div class="alert alert-warning">请输入密码</div>');
                password.focus();
//                $('#password').css('border', '1px solid red');
            }else {
                var authinfo = {"username" : usernameVal, "password" : passwordVal};
                $.ajax({
                    url : '/login',
                    type : 'POST',
                    data : authinfo,
                    success : function (data, status) {
                        if (status == 'success'){
                            location.href = 'home';
                        }
                    },
                    error : function (data, err) {
                        location.href = 'login';
                    }
                });
            }
        });
    });
</script>
</body>
</html>